

body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p{
  line-height: 2;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:#CA5116;
  /* color: #66BFBF; */
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #CA5116;
}

h3{
  color: #752c05;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #EAF6F6 10px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}

.contact-message{
  width: 30%;
  margin: 50px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-container{
  background-color: #f8b195;
  padding-top: 10px;
}

.middle-container{
  background-color: #f67280;
  /* padding-top: 50px; */

}

.bottom-container{
  background-color: #c06c84;
  padding: 50px 0 20px;
}
/* .text-top{
  position: absolute;
} */

.intro{
  width: 30%;
  margin: auto;
}

.skill-row{
  width: 50%;
margin: 100px auto;
text-align: left;
}

.my-picture{
  margin: 20px;
}

.computer-image{
  float: left;
  margin-right: 30px;
  width: 25%;
}

.chillies-image{
  float: right;
  margin-left: 30px;
  width: 25%
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Merriweather', serif;
	font-size:15px;
	font-weight:bold;
  margin: 0 auto 100px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* .computer-image{

}

.chillies-image{

} */
